<%- include('../partials/header') %>
    
<div class="column is-two-quarters" id="main">
    <ul><h1>your current book</h1>
        <li>
        <h2>Title: </h2> 
        </li>
    </ul>
    </div>


<%- include('../partials/footer') %>