<%- include('../partials/header') %>

<div class="column is-two-quarters" id="main">
    <section class="container">
        <div class="content" id="your-books">
            <% books.forEach(function(b) { %>

            <% }); %>

        </div>
</div>
</section>



<%- include('../partials/footer') %>