<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>you're booked! reading tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bulma.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet">
    <link href="/stylesheets/fontawesome/css/brands.css" rel="stylesheet">

</head>

<body>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-3">
            <article class="tile is-child box" id="sidenav">
                <center>
                    <img src="/images/yblogo.png" alt="you're booked logo">
                    <h5>your private, web based reading tracker</h5>
                </center>
                <div class="content">

                    <ul></ul>
                    <li>do you want to see <a href="/books">Your Books?</a></li>
                    <li>maybe you want to <a href="/books/new">Add A Book</a>?</li>
                    <li>here is where you
                        <% if (user) { %>
                        <a href="/logout">Log Out</a>
                        <% } %>
                    </li>
                </div>
            </article>
        </div>