
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>you're booked! reading tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bulma.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
        <div class="columns">
            <div class="column is-one-quarter is-full-height" id="sidebar">
                <center>
                    <img src="/images/yblogo.png">
                </center><br />
    
                    <ul></ul>
                    <li>do you want to see <a href="/books">Your Books?</a></li>
                    <li>maybe you want to <a href="/books/new">Add A Book</a>?</li>
                    <li>or maybe post some <a href="/review">Reviews</a>? </li>
                    <li>here is where you
                        <% if (user) { %>
                        <a href="/logout">Log Out</a>
                        <% } %>
                    </li>
                    </aside>
                    </div>