<%- include('partials/login') %>

    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <p class="subtitle has-text-black">Please login to proceed.</p>
                    <div class="box" id="loginbox">
                        <figure class="logo">
                            <img src="/images/yblogo.png">
                        </figure>
                        <form>
                            <div class="field">
                                <div class="control">
                                    <% if (user) { %>
                                    <a href="/logout">Log Out</a>
                                    <% } else { %>
                                    <a href="/auth/google">Login with Google</a>
                                    <% } %>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </section>



