<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bulma.css" />
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title">Login</h3>
                    <div class="box">
                            <div class="field">
                                <div class="control">
                                        <% if (user) { %>
                                        <a href="/logout">Log Out</a>
                                        <% } else { %>
                                        <a href="/auth/google">Login with Google</a>
                                        <% } %>
                            </div>
                    </div>
        </div>
    </section>
</body>

</html>