@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&family=Nunito:wght@300;400&family=Parisienne&display=swap');


* { 
    box-sizing: border-box;
    --mainColor: #ffc93c;
}

html, body { 
  height: 100%;
  width: 100vw;   }

body { 
  background-color: #fff; 
  font-family: 'Nunito', sans-serif;
  font-size: 14px; 
  padding: 10px; 
}

h1 { 
  color: #07689f; 
  font-family: 'Ninito', sans-serif; 
  font-size: 40px;; 
  font-weight: normal; 
  line-height: 40px; 
  margin: 0 0 20px; 
  text-shadow: 1px 1px 2px #082b34;
  text-align: center;  }



h2 { 
  color: #082b34; 
  font-family: 'Parisienne', cursive; 
  background-color: #ffc93c; 
  font-size: 32px; 
  font-weight: bold; 
  text-align: center; 
}

h3 { 
  color: #000; 
  font-family: 'Ninito', sans-serif; 
  font-size: 20px; 
  text-align: center; 
}

#sidenav a { 
  font-family: 'Nunito', sans-serif; 
    position: relative;
    font-size: 18px; 
    margin-bottom: 5px; 
    display: inline-block;
    background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #fff;
  text-decoration: none;
  transition: background-size .2s;
  font-weight: bold; 
}

#sidenav a:hover {
  background-size: 4px 50px;
  color: white; 
}

#sidenav a:selected { 
  background-size: 4px 50px;
  color: white; 
}

 a { 
  font-family: 'Nunito', sans-serif; 
    position: relative;
    margin-bottom: 5px; 
    display: inline-block;
    background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #ffc93c;
  text-decoration: none;
  transition: background-size .2s;
  font-weight: bold; 
}

 a:hover {
  background-size: 4px 50px;
  color: white; 
}

 a:selected { 
  background-size: 4px 50px;
  color: white; 
}

ul, li { 
  list-style-type: none;
  margin-bottom: 10px; 
  margin-left: 40px; 
}

#sidenav { 
  background-color: #07689f; 
  font-family: 'Ninito', sans-serif; 
  font-size: 16px; 
  color: #fff;
}

#yourbooks { 
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, minmax(auto, auto));
}

#yourbooks label { 
  font-weight: bold; 
  color: #082b34; 
  border-bottom: 1px dotted #ffc93c; 
  margin: 5px; 
}


input[type=submit] {
  margin-top: 20px;
}

#loginbox { 
  background-color: #07689f; 
}