<%- include('../partials/header') %>
<div class="tile is-parent is-6">
    <article class="tile is-child box" id="maincontent">
        <h1>book reviews</h1>
        
            <div class="content" id="yourbooks">
                <label>Rating: </label>
</div>
</div>
</article>




<%- include('../partials/footer') %>