<%- include('../partials/header') %>

<div class="tile is-parent is-6">
    <article class="tile is-child box">
        <h1>add a rating or review </h1>

        <form action="/books/<%= bookID %>/reviews" method="POST">
            <label>Rating:</label>
            <select  class="select is-small is-fullwidth is-info" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                        </select>
            <label>Review:</label>
            <textarea class="textarea is-dark" name="review"></textarea>
            <br />

            <button type="submit" class="button is-info is-medium is-outlined">Add Review</button>
        </form>
</div>


<%- include('../partials/footer') %>